<h1><%= @recipe.title %></h1>
<p>Created by: <%= @recipe.chef.email %></p>
<p><%= @recipe.description %></p>
<ul class="ingredient-list">
  <% @recipe.ingredients.split("\n").each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<% if @recipe.chef == current_user %>
  <a href="<%= edit_recipe_path(@recipe) %>">Edit</a> |
<form action="<%= recipe_path(@recipe) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
 |
<% end %>
<a href="<%= recipes_path %>">Back to all recipes</a>
